openapi: 3.0.3
info:
  title: Walkie API
  version: 1.0.0
  description: >
    Backend for Walkie — a minimalist app for exchanging voice notes and text
    between two users who paired by scanning a QR code. Messages are encrypted
    at rest (AES-256-GCM) and hard-deleted once read or when they expire
    (audio: 1h, text: 24h). Authentication is passwordless: a 6-digit code is
    emailed and exchanged for a bearer token.
servers:
  - url: https://walkie.howto.rocks/api
    description: Production

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        OAuth 2.0 Bearer token (RFC 6750). Preferred: a JWT access token from
        POST /oauth/token. Also accepts the opaque session token from the legacy
        POST /auth/verify.
  schemas:
    Error:
      type: object
      properties:
        error: { type: string, example: rate_limited }
        message: { type: string }
        retry_after: { type: integer, nullable: true }
    OAuthError:
      type: object
      description: OAuth 2.0 error response (RFC 6749 §5.2).
      properties:
        error:
          type: string
          enum: [invalid_request, invalid_grant, unsupported_grant_type, invalid_scope]
          example: invalid_grant
        error_description: { type: string }
    User:
      type: object
      properties:
        id: { type: integer, format: int64 }
        email: { type: string, format: email }
        display_name: { type: string, maxLength: 60 }
    Link:
      type: object
      properties:
        link_id: { type: integer, format: int64 }
        user_id: { type: integer, format: int64 }
        display_name: { type: string }
        unread: { type: integer }
        created_at: { type: string, format: date-time }
    Message:
      type: object
      properties:
        id: { type: integer, format: int64 }
        mine: { type: boolean }
        type: { type: string, enum: [text, audio] }
        read: { type: boolean }
        text: { type: string, nullable: true }
        audio: { type: string, nullable: true, description: base64-encoded bytes }
        mime: { type: string, nullable: true }
        duration_ms: { type: integer, nullable: true }
        created_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time }
  responses:
    Unauthorized:
      description: Missing or invalid session token
      content:
        application/json: { schema: { $ref: '#/components/schemas/Error' } }
    RateLimited:
      description: Too many requests
      headers:
        Retry-After: { schema: { type: integer } }
      content:
        application/json: { schema: { $ref: '#/components/schemas/Error' } }

security:
  - bearerAuth: []

paths:
  /health:
    get:
      summary: Liveness probe
      security: []
      responses:
        '200': { description: OK }

  /auth/request-code:
    post:
      summary: Email a 6-digit login code
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200': { description: Code sent (always, to avoid user enumeration) }
        '429': { $ref: '#/components/responses/RateLimited' }

  /oauth/token:
    post:
      summary: OAuth 2.0 token endpoint (RFC 6749 §3.2)
      description: >
        Issues Bearer access tokens (JWT) and refresh tokens. Body is
        application/x-www-form-urlencoded. Two grants are supported:
        the email-code extension grant (RFC 6749 §4.5) and refresh_token (§6).
        Request the emailed code first via POST /auth/request-code.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type]
              properties:
                grant_type:
                  type: string
                  enum:
                    - 'urn:walkie:params:oauth:grant-type:email-code'
                    - refresh_token
                email:
                  type: string
                  format: email
                  description: Required for the email-code grant.
                code:
                  type: string
                  pattern: '^\d{6}$'
                  description: Required for the email-code grant.
                refresh_token:
                  type: string
                  description: Required for the refresh_token grant.
            examples:
              emailCode:
                summary: Email-code grant
                value:
                  grant_type: 'urn:walkie:params:oauth:grant-type:email-code'
                  email: user@example.com
                  code: '123456'
              refresh:
                summary: Refresh grant
                value:
                  grant_type: refresh_token
                  refresh_token: 'PMak…'
      responses:
        '200':
          description: Access + refresh token pair (RFC 6749 §5.1)
          headers:
            Cache-Control: { schema: { type: string, example: no-store } }
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string, description: JWT (RFC 7519) }
                  token_type: { type: string, example: Bearer }
                  expires_in: { type: integer, example: 3600 }
                  refresh_token: { type: string }
                  scope: { type: string, example: walkie }
        '400':
          description: OAuth error (RFC 6749 §5.2)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OAuthError' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /oauth/revoke:
    post:
      summary: OAuth 2.0 token revocation (RFC 7009)
      description: >
        Revokes a refresh token (e.g. on logout). Body is
        application/x-www-form-urlencoded. Always returns 200, even for unknown
        tokens, so validity is not leaked.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, description: The refresh token to revoke. }
      responses:
        '200':
          description: Revoked (or no-op)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, example: true }

  /me:
    get:
      summary: Current user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: { user: { $ref: '#/components/schemas/User' } }
        '401': { $ref: '#/components/responses/Unauthorized' }
    patch:
      summary: Update display name and/or email
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name: { type: string, maxLength: 60 }
                email: { type: string, format: email }
      responses:
        '200': { description: Updated }
        '400': { description: Validation error / email taken }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /devices:
    post:
      summary: Register this device's push (FCM) token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, description: FCM registration token }
                platform: { type: string, enum: [android, ios, web], default: android }
      responses:
        '200': { description: Registered }
        '400': { description: Missing or invalid token }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /link/qr:
    post:
      summary: Create a pairing QR (full-screen scan target)
      responses:
        '200':
          description: QR created
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  pair_url: { type: string }
                  qr_svg: { type: string, description: inline SVG }
                  expires_in: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /link/claim:
    post:
      summary: Consume a scanned pairing token to link two users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
      responses:
        '201': { description: Linked }
        '400': { description: Invalid/expired/self pairing }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /links:
    get:
      summary: List linked contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  links:
                    type: array
                    items: { $ref: '#/components/schemas/Link' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /links/{id}:
    delete:
      summary: Unlink a contact (deletes the conversation for both users)
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not found }

  /links/{id}/messages:
    get:
      summary: Fetch new messages (marks incoming as read)
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
        - { name: after, in: query, required: false, schema: { type: integer }, description: return messages with id greater than this }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    type: object
                    properties:
                      user_id: { type: integer }
                      display_name: { type: string }
                  messages:
                    type: array
                    items: { $ref: '#/components/schemas/Message' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not found }
    post:
      summary: Send a text or audio message
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type]
              properties:
                type: { type: string, enum: [text, audio] }
                text: { type: string, description: required when type=text }
                audio: { type: string, description: base64 bytes, required when type=audio }
                mime: { type: string, example: audio/webm }
                duration_ms: { type: integer }
      responses:
        '201': { description: Sent }
        '400': { description: Validation error }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not found }
        '429': { $ref: '#/components/responses/RateLimited' }

  /links/{id}/messages/{msgId}:
    delete:
      summary: Delete your own message (hard delete)
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
        - { name: msgId, in: path, required: true, schema: { type: integer } }
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not found or not yours }
